/**
 * @section Topic_list
 */
.topic-list .topic-list-blank,
.topic-list .topic-list-loading,
.topic-list .topic-list-complete {
    display:none;
    text-align:center;
    padding: 0.5em;
    font-size: small;
    background-color: #CCC;
    /*color: white;*/
}

.topic-list.blank .topic-list-blank,
.topic-list.loading .topic-list-loading,
.topic-list.complete .topic-list-complete {
    display:block;
    cursor: default;
}

.topic-list.loading .topic-list-loading {
	cursor: wait;
}

.annotation-tool .topic-list {
    background-color: white;
}

/**
 * @section List_collection
 */
.list-collection {
    font-size: small;
}

.list-collection .loading-component {
    text-align: center;
    padding: 1em;
    cursor: wait;
}

/*
.list-collection.other {
    color: blue;
}
*/

/**
 * @section List_item
 */
.KALS.annotation-tool .list-item {
    background-color: white;
    
    padding-top: 5px;
    padding-bottom: 5px;
	padding: 5px;
    clear: both;
	
	cursor: pointer;
	
}

.KALS .list-item-topic {
    border-bottom: 1px solid gray;
    background-color: white;
}

.KALS .list-item.focus,
.KALS .list-item.editing {
    background-color: #FEEEBD;
}

.KALS .list-item p {
    margin: 0;
}

.KALS .list-item .list-anchor-text-component {
	padding-left: 1em;
	font-style:italic;
	color:gray;
}


/**
 * @section List_header_component
 */
.KALS .list-header-component {
    padding: 5px 0 !important;
}

.KALS .list-header-component .respond-container {
    font-weight: bold;
    margin-right: 5px;
}

.KALS .list-header-component .name-container {
    font-weight: bold;
    margin-right: 0.5em;
}

.KALS .list-header-component.is-my {
    /*padding-left: 30px;*/
    
}

.KALS .list-header-component.is-my .name-container {
    text-decoration:underline;
}

.KALS .list-header-component .header-option {
    float:right;
}

.KALS .list-header-component .lock,
.KALS .list-header-component .recommend {
    display: none;
}

.KALS .list-header-component.policy-type-lock .lock {
    display: inline;
}

.KALS .list-header-component.has-recommend .recommend {
    display: inline;
    cursor: pointer;
}

/**
 * 如果是我的標註，則不顯示like
 */
.KALS .list-header-component.is-my .list-like-component .icon-component {
    display: none;
}
/*
.list-header-component.has-recommend {
    background-image: url(${base_url}images/has-recommend.gif);
    background-position-x: 4px;
    background-position-y: center;
    background-repeat:no-repeat;
}
*/
.KALS .list-header-component .type-option
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    margin: 0;
    height:18px;
    padding: 1px 5px !important;
    font-size:smaller;
    cursor:default;
}

.KALS .list-header-component .id-component {
    float:right;
    color: #CCC;
    font-size: smaller;
    margin-left: 5px;
}

/**
 * @section List_like_component
 */
.KALS .list-like-component {
    cursor: pointer;
    float:right;
}

.KALS .list-like-component .count-component {
    font-size:smaller;
    color: #808080;
    float:right;
}

.KALS .list-like-component .icon-component {
    /*height:24px;
    width:24px;
    */ 
    height:20px;
    width:20px;
    padding: 10px;
    margin: 0 5px;
    background-image:url(${base_url}images/is-not-liked.png);
    background-position:center;
    background-repeat:no-repeat;
}
.KALS .list-like-component.hide .icon-component {
    /*visibility:hidden;*/
    display: none;
}

.annotation-tool.not-login .list-like-component .icon-component,
.window-view-content.not-login .list-like-component .icon-component {
    display: none;
}

.list-like-component.hover .icon-component {
    background-image:url(${base_url}images/set-is-liked.png);
}

.list-like-component.liked .icon-component {
    background-image:url(${base_url}images/is-liked.png);
}

.list-like-component.liked.hover .icon-component {
    background-image:url(${base_url}images/set-is-not-liked.png);
}

/**
 * @section List_menu
 */
.KALS.annotation-tool .list-item .list-menu {
    display: none;
    padding: 0.2em 0;
}

.KALS.annotation-tool .tooltip.list-menu {
    text-align:right;
    word-break:keep-all;
    /*padding: 0 0.5em;*/
    min-height: 0;
    /*padding: 0.2em;*/
}
.KALS.annotation-tool .list-menu-tooltip {
    background:#847D63 !important;
    color: #FFFFFF;
    /*border: 1px solid black;*/
    /*line-height: 25px;*/
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -khtml-border-radius: 0px;
    /*border: 1px solid #515151;*/
    padding: 0;
	
}
.KALS .list-menu-tooltip tr{
	background: rgba(0,0,0,0)!important;
}

.KALS .list-menu-block {
    text-align:right;
}

.KALS .list-menu-block table {
    display: inline;
}


.KALS .list-item.menu-style-block .list-menu-block  {
    display: block;
}


/*
.list-menu-tooltip .list-timestamp-component {
    display: block;
}
*/

.KALS .list-menu .list-menu-option,
.KALS .list-menu-option {
    cursor: pointer;
    padding: 0.2em 0.5em;
    margin-left: 0.2em;
    font-weight: bold;
    
    border-left: 2px groove gray;
}

.KALS .list-menu.list-menu-block .list-menu-option {
    padding-top: 0;
    padding-bottom: 0;
}

.KALS .list-menu-tooltip .list-menu-option.hover {
    background-color: #FFF;
    color: #8C8473;
}

.KALS .list-menu .list-timestamp-component {
    padding: 0.2em 0.5em;
}

.KALS .list-menu.not-login .list-menu-option {
    display: none;
}

.KALS .list-menu.not-login .list-menu-option.view {
    display: table-cell;
}

.KALS .list-menu.is-my .list-menu-option.respond {
    display: none;
}

.KALS.list-menu .list-menu-option.edit,
.KALS .list-menu .list-menu-option.delete {
    display: none;
}

/**
 * 只有在view當中不需要出現選擇的樣子
 */
.KALS.window .list-menu .list-menu-option.select {
    display: none;
}

.list-menu.is-my .list-menu-option.edit,
.list-menu.is-my .list-menu-option.delete {
    display: table-cell;
}

.list-menu.loading {
    /*color: gray;*/
   color: #CCC;
    cursor: wait;
}

.list-menu.loading .list-menu-option {
    cursor: wait;
}

.list-menu-tooltip {
    /*height: 30px;*/
}

.list-menu-tooltip td {
    vertical-align:middle;
}

/**
 * @section List_note_component
 */
.list-note-component .view-thread {
    color: blue;
    text-decoration:underline;
    cursor:pointer;   
}

.list-note-component .respond-container .respond-to {
    cursor:pointer;
    text-decoration:underline;
    color:blue;
    margin-left: 5px;
}

/**
 * @section Respond_list_collection
 */
.respond-list-collection {
    /*padding-left: 2em;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    /*padding-bottom: 5px;*/
    /*border-top: 1px solid #CCC;*/
    
    background-color: white;
}

.respond-list-collection .view-component {
    padding: 1em;
    text-align:center;
    cursor:pointer;
    border-top: 1px solid #CCC;
}
.respond-list-collection .view-component.hover {
    background-color: #FEEEBD; 
}

.list-item-respond {
    border-top: 1px solid #CCC;
    padding-left: 2em !important;
}
/*
.item-list-respond.first {
    border-top-style: none;
}
*/

/*.list-menu.tooltip.list-menu-tooltip.kals-modal.is-my table{
	margin:1px !important;
}*/
/*.list-container .list-item-topic .list-item .list-menu table{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}*/
/*??? table{
	margin: 0px 0 !important;
}*/

.KALS .list-menu.tooltip.list-menu-tooltip.kals-modal.is-my table {
    margin: 0px 0 !important;
}

.KALS .list-menu.tooltip.list-menu-tooltip.kals-modal.is-my table tbody{
    border: 0px !important;
}

.KALS .list-menu.tooltip.list-menu-tooltip.kals-modal.is-my table td{
    border: 0px !important;
}