.annotation-tool {
    position:absolute;
    z-index:2;
    width: 330px;
    height: 320px;
    /*background-color: white;*/
    background: white !important;
    cursor:default;
    
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    
    -webkit-box-shadow: #6F5A40 0px 3px 5px;
    -moz-box-shadow: #A29584 0px 5px 5px;
    
    padding: 0;
    border-width: 3px;
    margin:0;
}

.annotation-tool div {
    margin:0;
}


.annotation-tool.ui-draggable-dragging {
    cursor: move;
}

.draggable-tool.hover {
    z-index: 3;
}

.annotation-tool .annotation-tool-header {
    text-align:right;
    cursor: crosshair;
    height: 20px;
    font-size: small;
    
    border:1px solid #4A4531;
    /*
    border-style: none solid;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    */
    /*padding-top: 8px;*/
    background-color: #FEEEBD;
    border-width: 0px;
    /*padding: 0 1em;*/
    
    /*
    background: -moz-linear-gradient(#CB842E 0%, #D09042 29% 
        ,  #D6964A 50%, #D6964A 100%);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#D09042)
        , color-stop(0.00, #D09042), color-stop(0.5, #CB842E)
        , color-stop(0.51, #D09042), to(#D6964A));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D09042'
        , endColorstr='#D6964A');
    */
    margin: 2px;
    border: 1px solid #494437;
    color: white;
    background-color: #8C8473;
    
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    
    background: -moz-linear-gradient(#9C9586 0%, #9A9384 50%
        , #918978 51%, #8C8473 100%);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#9C9586)
        , color-stop(0.00, #9C9586), color-stop(0.5, #9A9384)
        , color-stop(0.51, #918978), to(#8C8473));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9C9586'
        , endColorstr='#8C8473');
    background-color: #8C8473; 
}

.annotation-tool .annotation-tool-header .dialog-option {
    padding: 0 1em;
    border-left: 2px groove #494437;
    /*color: #494437;*/
    color: #FFF;
    text-decoration: none;
    font-weight:bold;
    font-size:smaller;
    line-height: 20px;
}

.annotation-tool .annotation-tool-header .dialog-option.last {
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
}

.annotation-tool .annotation-tool-header .dialog-option.hover {
    /*color: white;*/
    background-color: #B6B4AF;
}

.annotation-tool .editor-tool {
    background: -moz-linear-gradient(#FEF8E4 0%, #FEF8E4 40px
        , #FEEEBD 70px, #FEEEBD 100%);
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FEF8E4)
        , color-stop(0.00, #FEF8E4), color-stop(0.25, #FEF8E4)
        , color-stop(0.35, #FEEEBD), to(#FEEEBD));    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEF8E4'
        , endColorstr='#FEEEBD');
    background-color: #FEEEBD;
    margin:0;
}

.annotation-tool .annotation-tool-editor {
    height: 180px;
}

.annotation-tool.not-login .annotation-tool-editor {
    height: 30px;
}

.annotation-tool .annotation-tool-list {
    max-height: 112px;
    overflow-x: hidden;
    overflow-y: auto;
    
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}

.annotation-tool.not-login .annotation-tool-list {
    max-height: 228px;
}

.annotation-tool.hide-editor .annotation-tool-editor {
    height:20px; 
}

.annotation-tool.hide-editor .annotation-tool-list {
    max-height: 270px;
}