.init-component.excute-confirm .browser {
    font-weight: bold;
    /*color: blue;*/
    /*padding: 0 1em;*/
}

.init-component.excute-confirm .recommend-browser {
    /*padding: 0 1em;*/
    font-weight: bold;
}

.KALS.check-css {
	color:rgb(128, 128, 128);
}
