/**
 * @section select
 */

.kals-paragraph {
    word-wrap: break-word;
    word-break: break-all;
}

p.kals-paragraph {
    word-break: initial;
}

.selectable-text {
    margin:0;
    padding:0;
}

.extLives {
    display:none;
}

/**
 * 測試，觀察文字初始化完成的範圍與進度。
 * @author Pulipuli Chen 20131228
 */
/*
.kals-paragraph .kals-word {
    color: green;
}
.kals-paragraph .kals-word.location-head {
    border: 1px solid blue;
}
.kals-paragraph {
    border: 1px solid #06246F;
}
*/