/**
 * CSS for template Reading_guide.html
 */
li {
    /*max-width: 100px;*/
    /*overflow-x: hidden;*/
    color:blue;
    cursor: pointer;
    text-decoration: underline;
}
.steps {
    max-height: 200px;
    overflow-y: auto;
}

li.read {
    color: mediumvioletred;
}