/**
 * 婷芸的小地圖的CSS
 */

.KALS .window-map .my-div {
	text-align:left !important;
	
}


.KALS.overlay-map.dialog-modal .content .highlight a { color: red !important; }

.KALS.overlay-map.dialog-modal .content .highlight li a { color: black !important; }


.KALS.overlay-map.dialog-modal .content { overflow-y: auto; max-height: 150px; }

.KALS.overlay-map.dialog-modal { min-width: 200px; 
								 max-width: 300px; 
								 max-height: 200px;  
 								 font-size: 12pt;  }
