.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.ttf)format("truetype");}.ff1{font-family:ff1;line-height:0.928000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.ttf)format("truetype");}.ff2{font-family:ff2;line-height:0.924000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.ttf)format("truetype");}.ff3{font-family:ff3;line-height:0.924000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-ms-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-moz-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-webkit-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-o-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{display:inline;margin-left:-1.354914px;}
._1{display:inline-block;width:1.315063px;}
._5{display:inline-block;width:7.292623px;}
._6{display:inline-block;width:8.488135px;}
._0{display:inline-block;width:11.955120px;}
._4{display:inline-block;width:13.270183px;}
._8{display:inline-block;width:14.744648px;}
._3{display:inline-block;width:17.175522px;}
._7{display:inline-block;width:20.124452px;}
.fc0{color:rgb(35,31,32);}
.fs1{font-size:33.872800px;}
.fs0{font-size:39.850400px;}
.fs2{font-size:51.806000px;}
.y1f{bottom:172.348419px;}
.y1e{bottom:191.283314px;}
.y1d{bottom:210.218210px;}
.y1c{bottom:229.153105px;}
.y1b{bottom:248.088000px;}
.y1a{bottom:570.687233px;}
.y19{bottom:592.903831px;}
.y18{bottom:615.020803px;}
.y17{bottom:637.237401px;}
.y16{bottom:659.354373px;}
.y15{bottom:681.570971px;}
.y14{bottom:703.687943px;}
.y13{bottom:725.904541px;}
.y12{bottom:781.017644px;}
.y11{bottom:803.234242px;}
.y10{bottom:825.351214px;}
.yf{bottom:847.567812px;}
.ye{bottom:869.784410px;}
.yd{bottom:891.901382px;}
.yc{bottom:914.117980px;}
.yb{bottom:936.234952px;}
.ya{bottom:958.451550px;}
.y9{bottom:980.568522px;}
.y8{bottom:1002.785120px;}
.y7{bottom:1024.902092px;}
.y22{bottom:1045.530400px;}
.y6{bottom:1047.118690px;}
.y5{bottom:1069.235662px;}
.y4{bottom:1091.452260px;}
.y3{bottom:1113.569232px;}
.y2{bottom:1135.785830px;}
.y21{bottom:1148.253269px;}
.y1{bottom:1157.902802px;}
.y20{bottom:1176.150800px;}
.y0{bottom:1180.119400px;}
.h3{height:25.031999px;}
.h4{height:25.099745px;}
.h1{height:29.449446px;}
.h2{height:29.529146px;}
.h5{height:38.388246px;}
.h0{height:1360.000000px;}
.w0{width:1038.000000px;}
.x0{left:102.047200px;}
.x1{left:125.977365px;}
.x3{left:805.374202px;}
.x4{left:814.790841px;}
.x7{left:832.943181px;}
.x6{left:847.785600px;}
.x5{left:890.530422px;}
.x2{left:914.343000px;}
.x8{left:939.514800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{display:inline;margin-left:-0.903276pt;}
._1{display:inline-block;width:0.876709pt;}
._5{display:inline-block;width:4.861749pt;}
._6{display:inline-block;width:5.658757pt;}
._0{display:inline-block;width:7.970080pt;}
._4{display:inline-block;width:8.846789pt;}
._8{display:inline-block;width:9.829765pt;}
._3{display:inline-block;width:11.450348pt;}
._7{display:inline-block;width:13.416301pt;}
.fs1{font-size:22.581867pt;}
.fs0{font-size:26.566933pt;}
.fs2{font-size:34.537333pt;}
.y1f{bottom:114.898946pt;}
.y1e{bottom:127.522210pt;}
.y1d{bottom:140.145473pt;}
.y1c{bottom:152.768737pt;}
.y1b{bottom:165.392000pt;}
.y1a{bottom:380.458155pt;}
.y19{bottom:395.269221pt;}
.y18{bottom:410.013869pt;}
.y17{bottom:424.824934pt;}
.y16{bottom:439.569582pt;}
.y15{bottom:454.380647pt;}
.y14{bottom:469.125295pt;}
.y13{bottom:483.936361pt;}
.y12{bottom:520.678429pt;}
.y11{bottom:535.489495pt;}
.y10{bottom:550.234143pt;}
.yf{bottom:565.045208pt;}
.ye{bottom:579.856273pt;}
.yd{bottom:594.600921pt;}
.yc{bottom:609.411987pt;}
.yb{bottom:624.156635pt;}
.ya{bottom:638.967700pt;}
.y9{bottom:653.712348pt;}
.y8{bottom:668.523413pt;}
.y7{bottom:683.268061pt;}
.y22{bottom:697.020267pt;}
.y6{bottom:698.079127pt;}
.y5{bottom:712.823775pt;}
.y4{bottom:727.634840pt;}
.y3{bottom:742.379488pt;}
.y2{bottom:757.190553pt;}
.y21{bottom:765.502179pt;}
.y1{bottom:771.935201pt;}
.y20{bottom:784.100533pt;}
.y0{bottom:786.746267pt;}
.h3{height:16.687999pt;}
.h4{height:16.733163pt;}
.h1{height:19.632964pt;}
.h2{height:19.686098pt;}
.h5{height:25.592164pt;}
.h0{height:906.666667pt;}
.w0{width:692.000000pt;}
.x0{left:68.031467pt;}
.x1{left:83.984910pt;}
.x3{left:536.916135pt;}
.x4{left:543.193894pt;}
.x7{left:555.295454pt;}
.x6{left:565.190400pt;}
.x5{left:593.686948pt;}
.x2{left:609.562000pt;}
.x8{left:626.343200pt;}
}
