.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.ttf)format("truetype");}.ff1{font-family:ff1;line-height:0.928000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.ttf)format("truetype");}.ff2{font-family:ff2;line-height:0.924000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.ttf)format("truetype");}.ff3{font-family:ff3;line-height:0.924000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.ttf)format("truetype");}.ff4{font-family:ff4;line-height:0.687000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.ttf)format("truetype");}.ff5{font-family:ff5;line-height:0.240000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.ttf)format("truetype");}.ff6{font-family:ff6;line-height:0.915000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-ms-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-moz-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-webkit-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-o-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.002391px;}
.ls2{letter-spacing:0.533995px;}
.ls3{letter-spacing:0.545950px;}
.ls4{letter-spacing:0.741217px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{display:inline;margin-left:-1.380201px;}
._7{display:inline-block;width:1.117802px;}
._b{display:inline-block;width:3.403477px;}
._c{display:inline-block;width:4.614784px;}
._9{display:inline-block;width:7.045542px;}
._5{display:inline-block;width:9.723303px;}
._6{display:inline-block;width:10.871359px;}
._4{display:inline-block;width:13.106964px;}
._3{display:inline-block;width:15.800830px;}
._d{display:inline-block;width:16.856719px;}
._8{display:inline-block;width:19.815588px;}
._e{display:inline-block;width:21.237084px;}
._1{display:inline-block;width:23.320539px;}
._2{display:inline-block;width:24.372594px;}
._0{display:inline-block;width:26.476702px;}
._10{display:inline-block;width:27.958944px;}
._11{display:inline-block;width:29.690539px;}
._f{display:inline-block;width:32.715187px;}
.fc0{color:rgb(35,31,32);}
.fs7{font-size:23.910800px;}
.fs5{font-size:29.887200px;}
.fs6{font-size:31.880800px;}
.fs4{font-size:33.872800px;}
.fs3{font-size:37.858400px;}
.fs8{font-size:39.850400px;}
.fs2{font-size:43.836000px;}
.fs1{font-size:51.806000px;}
.fs0{font-size:87.671200px;}
.y26{bottom:156.504647px;}
.y32{bottom:169.829993px;}
.y5c{bottom:177.822064px;}
.y7e{bottom:178.340120px;}
.y98{bottom:178.349028px;}
.y25{bottom:181.790692px;}
.y31{bottom:183.781945px;}
.y30{bottom:197.733896px;}
.y24{bottom:200.725587px;}
.y2f{bottom:211.685848px;}
.y5b{bottom:221.936457px;}
.y7d{bottom:222.892867px;}
.y23{bottom:226.570534px;}
.y5a{bottom:244.053429px;}
.y22{bottom:245.505429px;}
.y21{bottom:264.440324px;}
.y59{bottom:266.050850px;}
.y7c{bottom:267.445614px;}
.y20{bottom:283.375219px;}
.y58{bottom:288.167822px;}
.y7b{bottom:289.662212px;}
.y1f{bottom:306.273232px;}
.y57{bottom:310.165243px;}
.y7a{bottom:311.998361px;}
.y1e{bottom:325.208127px;}
.y56{bottom:332.282215px;}
.y79{bottom:334.214959px;}
.y1d{bottom:344.143022px;}
.y55{bottom:354.399187px;}
.y78{bottom:356.431557px;}
.y1c{bottom:363.077918px;}
.y54{bottom:376.396608px;}
.y77{bottom:378.767706px;}
.y1b{bottom:382.012813px;}
.y97{bottom:383.968184px;}
.y53{bottom:398.513580px;}
.y76{bottom:400.984304px;}
.y1a{bottom:404.910826px;}
.y96{bottom:406.085156px;}
.y52{bottom:420.630552px;}
.y19{bottom:423.845721px;}
.y95{bottom:428.301754px;}
.y18{bottom:442.780616px;}
.y75{bottom:445.537052px;}
.y94{bottom:450.418726px;}
.y17{bottom:461.715511px;}
.y51{bottom:464.744944px;}
.y74{bottom:467.753650px;}
.y93{bottom:472.635324px;}
.y16{bottom:480.650406px;}
.y50{bottom:486.742365px;}
.y73{bottom:490.089799px;}
.y92{bottom:494.851922px;}
.y15{bottom:499.585302px;}
.y4f{bottom:508.859337px;}
.y72{bottom:512.306397px;}
.y91{bottom:516.968894px;}
.y14{bottom:518.520197px;}
.y4e{bottom:530.976309px;}
.y71{bottom:534.522995px;}
.y90{bottom:539.185492px;}
.y13{bottom:541.418210px;}
.y4d{bottom:552.973730px;}
.y70{bottom:556.859144px;}
.y12{bottom:560.353105px;}
.y8f{bottom:561.302464px;}
.y4c{bottom:575.090702px;}
.y11{bottom:579.288000px;}
.y8e{bottom:583.519062px;}
.y4b{bottom:597.207674px;}
.y6f{bottom:601.292340px;}
.y10{bottom:602.418800px;}
.y8d{bottom:605.735660px;}
.y4a{bottom:619.205095px;}
.y6e{bottom:623.628489px;}
.y8c{bottom:627.852632px;}
.y49{bottom:641.322067px;}
.y6d{bottom:645.845087px;}
.y8b{bottom:650.069230px;}
.y48{bottom:663.439039px;}
.y6c{bottom:668.061685px;}
.yf{bottom:671.130400px;}
.y8a{bottom:672.186202px;}
.y47{bottom:685.436460px;}
.y6b{bottom:690.397834px;}
.y89{bottom:694.402800px;}
.ye{bottom:697.095800px;}
.y46{bottom:707.553432px;}
.y6a{bottom:712.614432px;}
.y88{bottom:722.517257px;}
.yd{bottom:729.985852px;}
.y69{bottom:734.950582px;}
.y87{bottom:744.733855px;}
.y45{bottom:751.667824px;}
.yc{bottom:753.788800px;}
.y68{bottom:757.167180px;}
.y86{bottom:766.850827px;}
.y44{bottom:773.784796px;}
.yb{bottom:779.754000px;}
.y85{bottom:789.067425px;}
.y67{bottom:801.719927px;}
.y84{bottom:811.184397px;}
.ya{bottom:812.647862px;}
.y66{bottom:823.936525px;}
.y43{bottom:826.965155px;}
.y9{bottom:836.560400px;}
.y65{bottom:846.153123px;}
.y42{bottom:848.962576px;}
.y8{bottom:862.412400px;}
.y64{bottom:868.489272px;}
.y83{bottom:869.684784px;}
.y41{bottom:871.079548px;}
.y63{bottom:890.705870px;}
.y82{bottom:891.801756px;}
.y40{bottom:893.196520px;}
.y7{bottom:895.306062px;}
.y62{bottom:912.922468px;}
.y81{bottom:914.018354px;}
.y3f{bottom:915.193941px;}
.y6{bottom:919.218600px;}
.y61{bottom:935.258617px;}
.y80{bottom:936.234952px;}
.y3e{bottom:937.310913px;}
.y5{bottom:944.843800px;}
.y2e{bottom:957.994198px;}
.y7f{bottom:958.351924px;}
.y3d{bottom:959.427885px;}
.y2d{bottom:976.022790px;}
.y60{bottom:979.811364px;}
.y3c{bottom:981.425306px;}
.y4{bottom:985.248871px;}
.y2c{bottom:993.939800px;}
.y5f{bottom:1002.027962px;}
.y3b{bottom:1003.542278px;}
.y5e{bottom:1024.244560px;}
.y3a{bottom:1025.539698px;}
.y3{bottom:1028.996800px;}
.y2b{bottom:1045.530400px;}
.y5d{bottom:1046.580710px;}
.y39{bottom:1047.656670px;}
.y38{bottom:1069.773642px;}
.y2{bottom:1072.876236px;}
.y37{bottom:1091.771063px;}
.y36{bottom:1113.888035px;}
.y1{bottom:1116.624164px;}
.y35{bottom:1136.005007px;}
.y2a{bottom:1148.253269px;}
.y34{bottom:1158.002428px;}
.y0{bottom:1160.503600px;}
.y29{bottom:1176.150800px;}
.y33{bottom:1180.119400px;}
.y28{bottom:1256.094094px;}
.y27{bottom:1276.043800px;}
.h8{height:17.717903px;}
.h6{height:22.146415px;}
.h7{height:23.623673px;}
.h5{height:25.099745px;}
.h4{height:27.977358px;}
.h9{height:29.449446px;}
.ha{height:29.529146px;}
.hb{height:30.724658px;}
.h3{height:32.482476px;}
.h2{height:38.388246px;}
.h1{height:64.789017px;}
.h0{height:1360.000000px;}
.w0{width:1038.000000px;}
.x10{left:51.023600px;}
.x11{left:102.047200px;}
.x12{left:125.977365px;}
.x17{left:158.734394px;}
.x1{left:243.785984px;}
.x2{left:248.213379px;}
.xb{left:261.363748px;}
.x16{left:267.709565px;}
.x6{left:283.018552px;}
.x0{left:295.029800px;}
.x5{left:303.533800px;}
.xe{left:323.716400px;}
.xf{left:325.987827px;}
.x9{left:355.688322px;}
.x8{left:382.450200px;}
.x4{left:389.253400px;}
.xd{left:403.086600px;}
.xc{left:494.022000px;}
.x3{left:500.837942px;}
.x7{left:502.072400px;}
.xa{left:510.803000px;}
.x18{left:779.867600px;}
.x14{left:832.943181px;}
.x13{left:847.785600px;}
.x15{left:939.514800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.001594pt;}
.ls2{letter-spacing:0.355997pt;}
.ls3{letter-spacing:0.363967pt;}
.ls4{letter-spacing:0.494145pt;}
.ws0{word-spacing:0.000000pt;}
._a{display:inline;margin-left:-0.920134pt;}
._7{display:inline-block;width:0.745202pt;}
._b{display:inline-block;width:2.268985pt;}
._c{display:inline-block;width:3.076523pt;}
._9{display:inline-block;width:4.697028pt;}
._5{display:inline-block;width:6.482202pt;}
._6{display:inline-block;width:7.247573pt;}
._4{display:inline-block;width:8.737976pt;}
._3{display:inline-block;width:10.533887pt;}
._d{display:inline-block;width:11.237813pt;}
._8{display:inline-block;width:13.210392pt;}
._e{display:inline-block;width:14.158056pt;}
._1{display:inline-block;width:15.547026pt;}
._2{display:inline-block;width:16.248396pt;}
._0{display:inline-block;width:17.651135pt;}
._10{display:inline-block;width:18.639296pt;}
._11{display:inline-block;width:19.793693pt;}
._f{display:inline-block;width:21.810125pt;}
.fs7{font-size:15.940533pt;}
.fs5{font-size:19.924800pt;}
.fs6{font-size:21.253867pt;}
.fs4{font-size:22.581867pt;}
.fs3{font-size:25.238933pt;}
.fs8{font-size:26.566933pt;}
.fs2{font-size:29.224000pt;}
.fs1{font-size:34.537333pt;}
.fs0{font-size:58.447467pt;}
.y26{bottom:104.336431pt;}
.y32{bottom:113.219995pt;}
.y5c{bottom:118.548043pt;}
.y7e{bottom:118.893413pt;}
.y98{bottom:118.899352pt;}
.y25{bottom:121.193795pt;}
.y31{bottom:122.521296pt;}
.y30{bottom:131.822598pt;}
.y24{bottom:133.817058pt;}
.y2f{bottom:141.123899pt;}
.y5b{bottom:147.957638pt;}
.y7d{bottom:148.595245pt;}
.y23{bottom:151.047022pt;}
.y5a{bottom:162.702286pt;}
.y22{bottom:163.670286pt;}
.y21{bottom:176.293549pt;}
.y59{bottom:177.367233pt;}
.y7c{bottom:178.297076pt;}
.y20{bottom:188.916813pt;}
.y58{bottom:192.111881pt;}
.y7b{bottom:193.108141pt;}
.y1f{bottom:204.182155pt;}
.y57{bottom:206.776829pt;}
.y7a{bottom:207.998907pt;}
.y1e{bottom:216.805418pt;}
.y56{bottom:221.521477pt;}
.y79{bottom:222.809973pt;}
.y1d{bottom:229.428682pt;}
.y55{bottom:236.266125pt;}
.y78{bottom:237.621038pt;}
.y1c{bottom:242.051945pt;}
.y54{bottom:250.931072pt;}
.y77{bottom:252.511804pt;}
.y1b{bottom:254.675209pt;}
.y97{bottom:255.978789pt;}
.y53{bottom:265.675720pt;}
.y76{bottom:267.322870pt;}
.y1a{bottom:269.940550pt;}
.y96{bottom:270.723437pt;}
.y52{bottom:280.420368pt;}
.y19{bottom:282.563814pt;}
.y95{bottom:285.534502pt;}
.y18{bottom:295.187077pt;}
.y75{bottom:297.024701pt;}
.y94{bottom:300.279150pt;}
.y17{bottom:307.810341pt;}
.y51{bottom:309.829963pt;}
.y74{bottom:311.835766pt;}
.y93{bottom:315.090216pt;}
.y16{bottom:320.433604pt;}
.y50{bottom:324.494910pt;}
.y73{bottom:326.726533pt;}
.y92{bottom:329.901281pt;}
.y15{bottom:333.056868pt;}
.y4f{bottom:339.239558pt;}
.y72{bottom:341.537598pt;}
.y91{bottom:344.645929pt;}
.y14{bottom:345.680131pt;}
.y4e{bottom:353.984206pt;}
.y71{bottom:356.348663pt;}
.y90{bottom:359.456994pt;}
.y13{bottom:360.945473pt;}
.y4d{bottom:368.649153pt;}
.y70{bottom:371.239429pt;}
.y12{bottom:373.568737pt;}
.y8f{bottom:374.201642pt;}
.y4c{bottom:383.393801pt;}
.y11{bottom:386.192000pt;}
.y8e{bottom:389.012708pt;}
.y4b{bottom:398.138449pt;}
.y6f{bottom:400.861560pt;}
.y10{bottom:401.612533pt;}
.y8d{bottom:403.823773pt;}
.y4a{bottom:412.803397pt;}
.y6e{bottom:415.752326pt;}
.y8c{bottom:418.568421pt;}
.y49{bottom:427.548045pt;}
.y6d{bottom:430.563391pt;}
.y8b{bottom:433.379486pt;}
.y48{bottom:442.292693pt;}
.y6c{bottom:445.374457pt;}
.yf{bottom:447.420267pt;}
.y8a{bottom:448.124134pt;}
.y47{bottom:456.957640pt;}
.y6b{bottom:460.265223pt;}
.y89{bottom:462.935200pt;}
.ye{bottom:464.730533pt;}
.y46{bottom:471.702288pt;}
.y6a{bottom:475.076288pt;}
.y88{bottom:481.678171pt;}
.yd{bottom:486.657235pt;}
.y69{bottom:489.967054pt;}
.y87{bottom:496.489237pt;}
.y45{bottom:501.111883pt;}
.yc{bottom:502.525867pt;}
.y68{bottom:504.778120pt;}
.y86{bottom:511.233885pt;}
.y44{bottom:515.856531pt;}
.yb{bottom:519.836000pt;}
.y85{bottom:526.044950pt;}
.y67{bottom:534.479951pt;}
.y84{bottom:540.789598pt;}
.ya{bottom:541.765241pt;}
.y66{bottom:549.291017pt;}
.y43{bottom:551.310103pt;}
.y9{bottom:557.706933pt;}
.y65{bottom:564.102082pt;}
.y42{bottom:565.975051pt;}
.y8{bottom:574.941600pt;}
.y64{bottom:578.992848pt;}
.y83{bottom:579.789856pt;}
.y41{bottom:580.719699pt;}
.y63{bottom:593.803913pt;}
.y82{bottom:594.534504pt;}
.y40{bottom:595.464347pt;}
.y7{bottom:596.870708pt;}
.y62{bottom:608.614979pt;}
.y81{bottom:609.345569pt;}
.y3f{bottom:610.129294pt;}
.y6{bottom:612.812400pt;}
.y61{bottom:623.505745pt;}
.y80{bottom:624.156635pt;}
.y3e{bottom:624.873942pt;}
.y5{bottom:629.895867pt;}
.y2e{bottom:638.662799pt;}
.y7f{bottom:638.901283pt;}
.y3d{bottom:639.618590pt;}
.y2d{bottom:650.681860pt;}
.y60{bottom:653.207576pt;}
.y3c{bottom:654.283537pt;}
.y4{bottom:656.832581pt;}
.y2c{bottom:662.626533pt;}
.y5f{bottom:668.018642pt;}
.y3b{bottom:669.028185pt;}
.y5e{bottom:682.829707pt;}
.y3a{bottom:683.693132pt;}
.y3{bottom:685.997867pt;}
.y2b{bottom:697.020267pt;}
.y5d{bottom:697.720473pt;}
.y39{bottom:698.437780pt;}
.y38{bottom:713.182428pt;}
.y2{bottom:715.250824pt;}
.y37{bottom:727.847375pt;}
.y36{bottom:742.592023pt;}
.y1{bottom:744.416110pt;}
.y35{bottom:757.336671pt;}
.y2a{bottom:765.502179pt;}
.y34{bottom:772.001619pt;}
.y0{bottom:773.669067pt;}
.y29{bottom:784.100533pt;}
.y33{bottom:786.746267pt;}
.y28{bottom:837.396063pt;}
.y27{bottom:850.695867pt;}
.h8{height:11.811935pt;}
.h6{height:14.764277pt;}
.h7{height:15.749115pt;}
.h5{height:16.733163pt;}
.h4{height:18.651572pt;}
.h9{height:19.632964pt;}
.ha{height:19.686098pt;}
.hb{height:20.483106pt;}
.h3{height:21.654984pt;}
.h2{height:25.592164pt;}
.h1{height:43.192678pt;}
.h0{height:906.666667pt;}
.w0{width:692.000000pt;}
.x10{left:34.015733pt;}
.x11{left:68.031467pt;}
.x12{left:83.984910pt;}
.x17{left:105.822929pt;}
.x1{left:162.523989pt;}
.x2{left:165.475586pt;}
.xb{left:174.242499pt;}
.x16{left:178.473043pt;}
.x6{left:188.679035pt;}
.x0{left:196.686533pt;}
.x5{left:202.355867pt;}
.xe{left:215.810933pt;}
.xf{left:217.325218pt;}
.x9{left:237.125548pt;}
.x8{left:254.966800pt;}
.x4{left:259.502267pt;}
.xd{left:268.724400pt;}
.xc{left:329.348000pt;}
.x3{left:333.891961pt;}
.x7{left:334.714933pt;}
.xa{left:340.535333pt;}
.x18{left:519.911733pt;}
.x14{left:555.295454pt;}
.x13{left:565.190400pt;}
.x15{left:626.343200pt;}
}
