/* right side blocks */
#regions_admin_left {
  width:200px;
  top:0px;
  bottom:0px;
  z-index:1000;
  left:-200px;
  float:right;
  position:fixed;
  padding:0px;
  margin:0px;
  overflow:hidden;
  background-color: #111;
  border-right-color: #111;
  border-right-width: 2px;
  border-right-style: solid;
}
.regions_block_container {
  z-index:1000;
}
#regions_admin_left .regions_pre_block_container {
  padding:5px;
  margin:300px 150px 0px;
  -o-transform:  rotate(90deg); /* opera specific */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* ie */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  display:block;
  height: 20px;
  width: 120px;
  text-align:center;
  float:left;
  cursor:pointer;
  position:fixed;
  font-size:16px;
  font-weight:bold;
  background-color:#111;
  color:#EEE;
}
#regions_admin_left .regions_block_content {
  padding:40px 10px 10px 10px;
  margin:0px;
  width:100%;
  top:0px;
  bottom:0px;
  position:absolute;
  z-index:1001;
}
/* on smaller devices make this smaller */
@media all and (max-width: 960px) {
  #regions_admin_left .regions_pre_block_container {
    margin:300px 200px 0px;
    height: 16px;
    width: 22px;
    font-size:10px;
    padding: 0px 0px 10px 0px;
    color:transparent;
    background:#111 center no-repeat url('images/admin.png');
    -o-transform:  rotate(0deg); /* opera specific */
    filter:auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}