
.header h1 {
    font-size: 18pt;
    margin-top: 0;
}

.header h2 {
    font-size: 14pt;
    font-weight: normal;
    margin: 0;
}
.result-table {
    border: 3px solid #4F81BD;
}
.result-table td, .result-table th {
    border: 1px solid white;
}

.result-table th, .result-table td {
    padding: 0.2em 0.5em;
}

.result-table th {
    background-color: #4F81BD;
    color: white;
}

.result-table thead th {
    text-align:left;
}
.result-table tbody th {
    text-align:right;
}

.result-table tbody tr td {
    background-color: #D0D8E8;
}
.result-table tbody tr.even td {
    background-color: #E9EDF4;
}
