<div class="tab-area">
    
    

<div class="list-header-component">
   <button type="button" class="tab-button list-button-qualification btn-qualification" kals-event-click="change_tab('btn-qualification')" tab_name="btn-qualification">{{kals-lang:stamp_not_get}}</button> 
   <button type="button" class="tab-button list-button-qualified btn-qualified" kals-event-click="change_tab('btn-qualified')" tab_name="btn-qualified">{{kals-lang:stamp_geted}}</button> 
   <button type="button" class="tab-button list-button-king btn-king-list" kals-event-click="change_tab('btn-king-list')" tab_name=btn-king-list">{{kals-lang:stamp_list}}</button> 
    <!--<span class="header-button" kals-event-click="change_tab()">{{annotation_type}}</span>-->
</div>

<!--未獲得獎章-->

<div class="stamp_qualification btn-qualification tab-content" >
    
    <div class="stamp-statistic-container">
        <h1>{{kals-lang:statistic_heading}}</h1>
        <ul class="stamp-statistic">

        </ul>
    </div>
    
    <div class="stamp-qualification-container">
        <h1>{{kals-lang:qualification_heading}}</h1>
        <p>{{kals-lang:qualification_subheading}}</p>
        <table class="stamp-qualification-list">
            <tbody>
            </tbody>
        </table>
    </div>

</div>

<!--已獲得獎章-->
<div class="stamp_qualified btn-qualified tab-content" >
<h1>{{kals-lang:qualified_heading}}</h1>
<table class="stamp-qualified" align="center">
<tr class="qualified-name"></tr>
<tr class="qualified-img"></tr>
    
</table>
</div>

<!--國王名單-->

<div class="king-list btn-king-list tab-content" >
<h1>{{kals-lang:stamp_list_heading}}</h1>


<table class="stamps-list king-list-area">
<!--<h4>{{kals-lang:stamp_list_king}}</h4>   
<div style="height: 60px; width: 30px; display: inline"><img src="/kals/images/stamp_imgs/stamp_4.png" style="height: 50px; width: 25px"/></div>
<div class="stamps-list king-list-area list-name"></div>-->

</table>

</div>


</div>