/* 
    Document   : dialog
    Created on : 2010/9/3, 下午 12:18:05
    Author     : pudding
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.dialog-modal {
    min-width: 320px;
    max-width: 640px;
    max-height:100%;
	padding-left:10px !important;
	padding-right:10px !important;
	
}

.dialog-modal.compact-width {
    
    min-width: 0;
    max-width: 100%;
    
}

.dialog-modal.compact-height {
    
    max-height:100%;
    overflow:auto;
    padding-top: 0;
    padding-bottom:0;
    margin-top: 0;
    margin-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.dialog-modal.compact-height .dialog-table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialog-toolbar-tr,
.dialog-toolbar-table {
    height: 36px;
	margin:0px !important;
	background: rgba(0,0,0,0)!important;
}
.dialog-toolbar-table tr{
	background: rgba(0,0,0,0)!important;
}

.dialog-toolbar {
    
    -moz-user-select:none;
    cursor:default;
    /*padding: 0.5em 1em 0.3em;*/
    padding: 0;
    
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    
    background: -moz-linear-gradient(#9C9586 0%, #9A9384 50%
        , #918978 51%, #8C8473 100%);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#9C9586)
        , color-stop(0.00, #9C9586), color-stop(0.5, #9A9384)
        , color-stop(0.51, #918978), to(#8C8473));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9C9586'
        , endColorstr='#8C8473');
    background-color: #8C8473;
    
    border: 1px solid #494437 !important;    
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    
    position: relative;
    top: -1px;
    left: -1px;
    
    line-height: 40px;
    height: 36px;
}
.dialog-toolbar tr td{
	padding:0px 0px !important;
	border:0px !important;
	border-collapse:inherit !important;
}
.dialog-heading {
    margin: 0.1em 16px 0.2em 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor:default;
    padding: 0;
    text-align:center;
    width: 60%;
    position:relative;
    line-height: 1.1em;
}

.dialog-content-td {
    vertical-align:top;
}

.toolbar-options {
    display: none;
    width: 40px;
    overflow:hidden;
}

.toolbar-options .dialog-option {
    font-size: 0.7em;
    min-height: 0;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialog-toolbar.hide-option .dialog-option {
    visibility:hidden;
}

.toolbar-forward {
    text-align:right;
}

.toolbar-backward .dialog-option {
    margin-left: 3px;
}

.toolbar-forward .dialog-option {
    margin-right: 3px;
}

.button.dialog-option {
    cursor:pointer;
    margin: 0;
    
    background: -moz-linear-gradient(#FDDC6C 0%, #FEDC69 50%
        , #FDD654 51%, #FED448 100%);
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FDDC6C)
        , color-stop(0.00, #FDDC6C), color-stop(0.5, #FEDC69)
        , color-stop(0.51, #FDD654), to(#FED448));    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDDC6C'
        , endColorstr='#FED448');
    background-color: #FED448;
        
    border: 1px solid #D19405 !important;
    color: #4C3000;
    font-weight: bold;
    outline: medium none;
    font-size: 0.7em !important;
    font-family: Segoe UI,Arial,sans-serif;
    
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding:0.2em !important;
    position:relative;
    text-align:center;
    text-decoration: none !important;
    
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    min-height: 33px;
}



.dialog-option.link {
    color: blue;
}

.button.dialog-option.hover {
    
    background: -moz-linear-gradient(#FFE08E 0%, #FFDE7D 100%);
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FFE08E)
        , color-stop(0.00, #FFE08E), to(#FFDE7D));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE08E'
        , endColorstr='#FFDE7D');
    background-color: #FFDE7D;
    
    border-color: #8A661C;
    color: #512900;
}

/*
.dialog-content-tr {
    display: none;
}
*/
.dialog-content-tr{
	background: rgba(0,0,0,0)!important;
}

.dialog-content {
    border:0 none;
    overflow: auto;
    padding: 0.5em 1em !important;
    color: #383838;
    cursor: auto;    
    max-height: 400px;
	line-height:normal !important;
}

.dialog-modal.compact-height .dialog-content {
    overflow:visible;
    max-height:inherit;
    height:auto;
}

.dialog-options .dialog-option {
    
    width: 100%;
    margin-top: 5px;
}

.dialog-option.option-left {
    float:left;
    width: 49%;
}

.dialog-option.option-right {
    float:right;
    width: 49%;
}

.dialog-modal.with-content.with-options .dialog-content {
    border-bottom:1px solid #8E846B !important;
    margin-bottom: 5px;
}

.dialog-modal.with-content.with-options.hide-options .dialog-content {
    border-bottom-width: 0;
    margin-bottom: auto;
}

.dialog-modal.hide-options .dialog-options {
    display: none;
}

/* -------- */
/* exception */

.dialog-content .exception {
    margin-top:0;
    margin-bottom: 0;
}

.dialog-content .exception dd p {
    margin: 0;
}

.dialog-content .exception dd {
    word-break:break-all;
}
.window-loading-tr{
	height:0px !important;
	padding:0px 0px !important;
	background: rgba(0,0,0,0)!important;
}
.window-loading-tr td{
	height:0px !important;
	padding:0px 0px !important;
}
.dialog-content-tr{
	padding:0px 0px !important;
}
.dialog-content-td{
	padding:0px 0px !important;
	
}
.dialog-options{
	height:28px !important;
	padding:0px 0px !important;
	background: rgba(0,0,0,0)!important;
}
