.KALS.annotation-tool.gesture {
	
}

.KALS.annotation-tool.gesture .annotation-tool-header {
	display:none;
}

.KALS.annotation-tool.gesture .topic-list-blank {
	display:none;
}
.KALS.annotation-tool.gesture .annotation-tool-editor{
	height:100px;
}

.KALS.annotation-tool.gesture .topic-list-complete{
	display:none;
}

.KALS.annotation-tool.gesture .close-button.left{
    
	background-image: url('${base_url}images/gesture/blackarrow2.png'); 	
	background-repeat:no-repeat;
	background-position-y: center;
	background-color: transparent;
	border-width: 0;
	height:50px;
	width:86px;
	float:right;
}

.KALS.annotation-tool.gesture .close-button.right{
	background-image: url('${base_url}images/gesture/blackarrow.png'); 	
	background-repeat:no-repeat;
	background-position-y: center;
	background-color: transparent;
	border-width: 0;
	height:50px;
	width:86px;
	float:right;
}
.KALS.annotation-tool.gesture .topic-list{
	background-color : transparent;
}
.KALS.annotation-tool .list-item{
	background-color : transparent;
}
