
<dl>
    <dt>{{kals-lang:random_user}}</dt>
    <dd kals-event-click="search_user()">{{random_user}}</dd>
    
    <dt>{{kals-lang:hot_annotation}}</dt>
    <dd kals-event-click="search_hot_topic()">搜尋熱門標註</dd>
    
    <!--
    <dt kals-event-click="select()">{{kals-lang:last_annotation}}:</dt>
    <dd>
	   <div>{{last_annotation}}</div>
    </dd>
    
    <dt>{{kals-lang:activity}}:</dt>
    <dd kals-event-field-set="setup_activity()">{{activity}}</dd>
    -->
</dl>
<!--
請寫下您的閱讀心得筆記：
<textarea width="100%" style="background-image: none; display: block; width: 100%; height: 20em; background-position: 259px 0px; background-repeat: repeat repeat;">[故事中有誰呢？]

[故事發生在什麼時候呢？]

[故事發生的地點在哪裡呢？]

[為什麼河馬媽媽會在這裡呢？ ]

[河馬媽媽在做什麼呢？ ]

[魚兒們怎麼幫河馬媽媽美容呢？ ]

</textarea>
-->