/**
 * CSS for template Random_user.html
 */
dt {
    font-weight:bold;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
}

.activity-good {
    font-weight: bold;
    font-size: larger;
    color:green;
}
.activity-normal {
    font-weight: bold;
    font-size: larger;
    color:blue;
}
.activity-bad {
    font-weight: bold;
    font-size: larger;
    color:red;
}

dt.mobile-topics {
    background-image: url('${base_url}images/mobile.png');
    background-position:left;
    background-repeat:no-repeat;
    height: 16px;
    padding-left: 20px;
}

dt.rss-feed {
    background-image: url('${base_url}images/rss-feed.png');
    background-position:left;
    background-repeat:no-repeat;
    height: 16px;
    padding-left: 20px;
}