/* right side blocks */
#regions_right_slideout {
  background-color:#222;
  color:#EEE;
  width:30%;
  top:0px;
  bottom:5px;
  z-index:100;
  right:-30%;
  float:right;
  position:fixed;
  padding:0px;
  margin:0px;
  overflow:auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#regions_right_slideout .regions_block_title {
  padding:5px;
  background-color:#222;
  color:#EEE;
  margin:300px 0px 0px -60px;
  -o-transform:  rotate(-90deg); /* opera specific */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* ie */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  display:block;
  height: 20px;
  width: 80px;
  float:left;
  cursor:pointer;
  position:fixed;
  font-size:14px;
  font-weight:bold;
}

#regions_right_slideout .regions_block_title a{
  color:#EEE;
}

#regions_right_slideout .regions_block_content a{
  color:#BBF;
}

#regions_right_slideout .regions_block_content {
  padding:40px 10px 10px 10px;
  text-align:left;
  font-size:12px;
  margin:0px;
  top:0px;
  bottom:0px;
  position:absolute;
  border-left:solid 10px #666;
  z-index:101;
}
#regions_right_slideout .regions_1 .regions_block_content {
  z-index:102;
}
/* colors for the blocks on the right */
#regions_right_slideout .regions_1 .regions_block_title {
  margin-top:150px;
}
#regions_right_slideout .regions_2 .regions_block_title {
  margin-top:240px;
}
#regions_right_slideout .regions_3 .regions_block_title {
  margin-top:330px;
}
#regions_right_slideout .regions_4 .regions_block_title {
  margin-top:420px;
}
#regions_right_slideout .regions_5 .regions_block_title {
  margin-top:510px;
}
/* default colors for the blocks on the right */
#regions_right_slideout .regions_block_title {
  background-color:#333;
}
#regions_right_slideout .regions_block_content {
  border-left:solid 10px #333;
}

/* open / close block display */
#regions_right_slideout .regions_toggle_open {
 margin:100px 0px 0px -30px;
 background-image: url('images/close.png');
 background-repeat:no-repeat;
 background-position:center;
 background-color:#333;
 width: 30px;
 height:20px;
 float:left;
 cursor:pointer;
 position: fixed;
}
#regions_right_slideout .regions_toggle_closed {
 margin:100px 0px 0px -30px;
 background-image: url('images/open.png');
 background-repeat:no-repeat;
 background-position:center;
 background-color:#333;
 width: 30px;
 height:20px;
 float:left;
 cursor:pointer;
 position: fixed;
}
/* on smaller devices make this smaller */
@media all and (max-width: 960px) {
  #regions_right_slideout .regions_block_title {
  width: 60px;
  font-size:11px;
	margin:300px 0px 0px -50px;
}
#regions_right_slideout .regions_toggle_open {
 margin:110px 0px 0px -30px;
}
#regions_right_slideout .regions_toggle_closed {
 margin:110px 0px 0px -30px;
}
}