.ui-jqgrid tr.jqgrow td {
  border-color: #cecece;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  height: 25px;
  overflow: hidden;
  padding: 0 2px;
  white-space: pre;
}
.ui-jqgrid .ui-jqgrid-htable th {
  height: 25px;
  padding: 0 2px;
}
.ui-jqgrid tr:hover td {
  background-color: #dddddd;
  border: 0px none;
  color: #212121;
  font-weight: normal;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: transparent #dddddd;
  border: 0px none;
  color: #212121;
  font-weight: normal;
}
