/**
 * CSS for template Dashboard.html
 */
dt {
	font-weight:bold;
}

.activity-good {
	font-weight: bold;
	font-size: larger;
	color:green;
}
.activity-normal {
    font-weight: bold;
    font-size: larger;
    color:blue;
}
.activity-bad {
    font-weight: bold;
    font-size: larger;
    color:red;
}


.type-navigation.selected{
    font-size: large !important;
}

.type-navigation.non-selected{
    background-color: grey !important;
    color: white !important;
}

.type-navigation.type-option{
    cursor: pointer !important;
}

.list-header-component{
    cursor: pointer !important;
    font-size: small !important;
    font-weight: bold;
}

.list-header-component.other-type{
    line-height: 2em;
    opacity: .75;

}