<!--
<div>
    {{annotation_map_instruction}}
</div>
-->
<div class="list-header-component">
    <span kals-event-click="change_tab()">{{annotation_type}}</span>
</div>

<div>
    {{annotation_type_num}}
</div>
<!--<button type="button" class="button type-0" field-type="0" kals-event-click="change_tab()"> 全部 </button>
	<button type="button" class="button type-1" field-type="1"> 重要 </button>
	<button type="button" class="button type-2" field-type="2"> 困惑 </button>
	<button type="button" class="button type-3" field-type="3"> 質疑 </button>
	<button type="button" class="button type-4" field-type="4"> 舉例 </button>
-->
<!--
	<div class="list type-0">
		<ul><li>
		<a>標題3</a><button class="type-option" type="button">{{annotation_type_main}}</button><br />
                <button class="type-option" type="button">{{annotation_type_sub}}</button>
		</li></ul>
		
		<ul><li>
		<a>標題8</a>
		</li></ul>

		<ul><li>
		<a>標題2</a>
		</li></ul>		
		
	</div>
	
	
	
	<div class="list type-1">
		<ul><li>
		<a>標題6</a><button class="type-option" type="button">{{annotation_type_main}}</button><br />
                <button class="type-option" type="button">{{annotation_type_sub}}</button>
		</li></ul>
		
		<ul><li>
		<a>標題4</a>
		</li></ul>

		<ul><li>
		<a>標題1</a>
		</li></ul>
	</div>
	
	
	
	<div class="list type-2">
		<ul><li>
		<a>標題9</a><button class="type-option" type="button">{{annotation_type_main}}</button><br />
                <button class="type-option" type="button">{{annotation_type_sub}}</button>
		</li></ul>
		
		<ul><li>
		<a>標題3</a>
		</li></ul>

		<ul><li>
		<a>標題2</a>
		</li></ul>
	</div>
	
	
	<div class="list type-3">
		<ul><li>
		<a>標題2</a><button class="type-option" type="button">{{annotation_type_main}}</button><br />
                <button class="type-option" type="button">{{annotation_type_sub}}</button>
		</li></ul>
		
		<ul><li>
		<a>標題3</a>
		</li></ul>

		<ul><li>
		<a>標題2</a>
		</li></ul>
	</div>
	
	
	<div class="list type-4">
		<ul><li>
		<a>標題10</a><button class="type-option" type="button">{{annotation_type_main}}</button><br />
                <button class="type-option" type="button">{{annotation_type_sub}}</button>
		</li></ul>
		
		<ul><li>
		<a>標題8</a>
		</li></ul>

		<ul><li>
		<a>標題5</a>
		</li></ul>
	</div>
-->

<!--
        <dl>
    <dt>{{kals-lang:annotation_count}}:</dt>
    <dd kals-event-click="open_recent_annotation()">{{annotation_count}}</dd>
    
    <dt>{{kals-lang:user_count}}:</dt>
    <dd>{{user_count}}</dd>
    
    <dt kals-event-click="select()">{{kals-lang:last_annotation}}:</dt>
    <dd>
	   <div>{{last_annotation}}</div>
    </dd>
    
    <dt>{{kals-lang:activity}}:</dt>
    <dd kals-event-field-set="setup_activity()">{{activity}}</dd>
</dl>
-->