/**
 * CSS for template Dashboard.html
 */
dt {
	font-weight:bold;
}

.activity-good {
	font-weight: bold;
	font-size: larger;
	color:green;
}
.activity-normal {
    font-weight: bold;
    font-size: larger;
    color:blue;
}
.activity-bad {
    font-weight: bold;
    font-size: larger;
    color:red;
}

.list{
    margin-left: 0;
    padding: 0;
}

.list-content {
    margin: 0.5em;
    margin-left: 2em;
    padding: 0;
}

ol.list-content li {
    font-size: small;
}


.type-navigation.selected{
    /**
     * @author Pulipuli Chen 20140502
     * 不放大顯示
     */
    /*font-size: large !important;*/
}

.type-navigation.non-selected{
    background-color: grey !important;
    color: white !important;
}

.type-navigation.type-option{
    margin: 0.1em;
    cursor: pointer !important;
    -moz-border-top-right-radius:20px;
    -moz-border-bottom-right-radius:20px;
    -moz-border-top-left-radius:5px;
    -moz-border-bottom-left-radius:5px;
    
    -webkit-border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.type-navigation.type-option.heading-button{
    margin: 0.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
}

.list-header-component {
    cursor: pointer !important;
    font-size: small !important;
    font-weight: bold;
    
    /**
     * @author Pulipuli Chen 20140502
     * 避免按鈕之間重疊
     */
    line-height: 22px;
}

/**
 * @author Pulipuli Chen 20140502
 * 調整按鈕位置
 */
.list-header-component span.header-button {
    float: left;
}

div.list-component {
    clear: both;
}

.list-header-component.other-type {
    line-height: 2em;
    opacity: .75;

}

.hint {
    font-size: large !important;
    font-weight: bold;
}

.not-found-hint {
    display: none;
    font-size: small;
    font-weight: bold;
    text-align: center;
    clear: both;
    position: relative;
    top: 10px;
    border: 1px solid gray;
}

.list-header-hint {
    font-size: small;
    font-weight: bold;
}